/*
text colour: #2c2c2c
background colour: #e9e9e9
green: #085515
*/

html { background-color: #e9e9e9; color: white; font-family: "palatino linotype", serif; font-size: 1em;}

#container { background-color: transparent; width: 95%; height: 95%; position: relative; margin: auto; }

#logo { margin: auto; position: relative; background-color: transparent; height: 76px; width: 1px; display: block; }

#navigation { margin: auto; position: relative; background-color: #b5b5b5; height: 20%; width: 100%;
	margin-bottom: 10px;  border-color: transparent; 
	border-style: solid; border-width: 2px; border-radius: 10px; 
	-moz-border-radius: 10px; -webkit-border-radius: 10px; }

#stage { margin: auto; position: relative; background-color: #171717; height: 100%; width: 100%;
    background-repeat: no-repeat;  border-color: transparent; 
	border-style: solid; border-width: 2px; border-radius: 10px; 
	-moz-border-radius: 10px; -webkit-border-radius: 10px; }


a:link { text-decoration: none; color: #2c2c2c; font-weight: bold; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration: underline; }


#navigation ul { margin: 0; padding: 10px; list-style-type: none; list-style-image: none; height: 100%; display: block; }

#navigation li { display: inline; height: 100%; }

#navigation ul li a { list-style-type: none; display: block; margin: 0;
          color: #2c2c2c; height: 100%; width: 100%; text-align: center; }